# dependencies
node_modules/
.pnpm-store/

# build output
.next/
dist/
build/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# prisma
apps/api/src/generated/

# misc
*.tsbuildinfo
